El archivo "sobre-nosotros.html" tiene la funcion de ser la pagina que hablara de los integrantes del grupo"
*/
* {font-family: 'Courier New', Courier, monospace;}
/* Contenedor */
.container {
    display: grid;

    /* por las dudas */
    grid-template: 100px 1fr auto / 20% auto;

    /* Distribucion de la pagina */
    grid-template-areas: "header header "
                         "ind subcontainer"
                         "pie pie ";
    gap: 5px;
}

/* Subcontainer */
.subcontainer {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-template-areas: "t1 t2"
                         "t3 t4";
    gap: 5px;
}

/* Areas del grid */
.header    { grid-area: header;    background-color: rgb(45, 145, 175); text-align: center;}
.ind       { grid-area: ind;       background-color: lightblue;  }
.t1       { grid-area: t1;       background-color: turquoise;  }
.t2       { grid-area: t2;       background-color: turquoise;  }
.t3       { grid-area: t3;       background-color: turquoise;  }
.t4       { grid-area: t4;       background-color: turquoise;  }
.pie       { grid-area: pie;       background-color: rgb(45, 145, 175); text-align: center;}


/* Grid cosas */
.tarj {
    padding: 10px;
    color: darkblue;
    border-radius: 10px;
}

/* Imagen con bordes redondeados, con limites de tamaño           */

img {
    border-radius: 30px;
    width: 100%;
    max-width:400px;
  }

/* Punto de corte para pantallas tipo tablet (menos de 920px)     */
@media only screen and (max-width: 920px) {
    .container {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: 100px auto 60px / 30% auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "header header"
            "ind subcontainer"
            "pie pie";
    }
}

/* Punto de corte para pantallas tipo celular (menos de 600px)    */
@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 5 filas / 1 columna */
        grid-template: 100px auto auto auto 60px / 100%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header"  "ind" "subcontainer" "pie";
    }
    .subcontainer {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 100%;
    
        /* Distribucion del subcontainer */
        grid-template-areas: "t1" "t2""t3" "t4";
        gap: 5px;
    }
}
