*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background: #fff6f6;
    font-family: 'Lora', serif;
    /* font-family: 'Pacifico', cursive; */
    overflow-x: hidden;
}

/** Navegation Menu **/
#header{
    position: relative;
    width: 100%;
    
}
.menu{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:9999;
}
.btn-menu{display: none;}
.menu .logobox{margin-left: 30px;}
.menu .logobox h1 > a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Pacifico', cursive; 
    
    
}
.menu .logobox h1 > a > i{color:#f8b30e; margin-right: 10px;}
.menu .list-container{margin-right: 30px;}
.menu .list-container .lists{display: flex;}
.menu .list-container .lists li{list-style: none;}

.menu .list-container .lists li a{
    text-decoration: none;
    color:#fff;
    font-size: 19px;
    margin:0px 7px;
    padding: 5px;
    border-radius: 3px;
    transition: 300ms;
}
.menu .list-container .lists li a:hover{color:#f8b30e;}
.menu .list-container .lists li a.active{color:#f8b30e;}

/** Img header **/
.img-header{
    background: url(../img-id/index.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: soft-light;

    position: relative;
    width: 100%;
    height:100vh;
}
.img-header .welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h4{
    color: #ffff;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.img-header .welcome > h2{margin-top: 50px;}
.img-header .welcome > h2 a{
    text-decoration: none;
    color:#fff;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
}
.img-header .welcome > h2 a > i{color:#f8b30e; margin-right: 10px;}


/** About Us **/
.about-us{width: 100%;}
.about-us .info{
    width: 100%;
    margin-top: 100px;
}
.about-us .info h3{
    text-align: center;
    font-size: 40px;
    font-weight: 400;

    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;

}
.about-us .info p {
   width: 80%;
   margin:50px auto;
   text-align: center;
   color:#000;
   font-size: 19px;
   line-height: 40px;
}
.about-us .info hr{
    width: 90%;
    border:none;
    height: 2px;
    background: #000000;
    margin:auto;
}
/* .about-us .free-content{
    width: 100%;
    margin-top: 100px;
    background: #1B9CFC;
    padding:30px;
    
}
.about-us .free-content h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color:#ffffff;

    
    
}
.about-us .free-content .icons{
    width: 90%;
    margin:30px auto;
    display: flex;
    justify-content: center;
}
.about-us .free-content .icons > div{width: 100%; margin:0px 30px;}
.about-us .free-content .icons > div > .span-icon{
    width:100%;
    font-size: 40px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    
}
.about-us .free-content .icons > div h6{
    font-size: 25px;
    color:#ffffff;
    text-align: center;
    font-weight:normal;
    margin:20px 0px 5px 0px;
    
}
.about-us .free-content .icons > div p{
    font-size: 18px;
    text-align: center;
    color:#ffffff;
} */

/** Gallery **/
.gallery-section{
    width: 100%;
    font-family: 'Kalam', cursive;
    /* Font de cuadro celeste */
}
.animal-icon{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.animal-icon i{
    font-size: 120px;
    color:#000;
}
.gallery-content{
    width: 90%;
    margin:30px auto;
    /* color:#ff0000; */

    /* Aqui vamos a darle el estilo Grid */
    /* Aplicaremos la cantidad de Filas y Columnas */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 230px);
    grid-gap: 10px;

}
.gallery-content .img-card{

    width: 100%;
    width: 100%;
    /* color:#ff0000; */
    font-family: 'Kalam', cursive;
    
}
/* ---------------------------------------------------------- */
/* Efecto de la imagen */

.img-card img:hover{
    /* border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); */

    -webkit-transform:scale(1.3);transform:scale(1.3);
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
    }

/* Efecto de la imagen */
/* ---------------------------------------------------------- */

.gallery-content .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 20px;  /* Radio para las imagenes */
    transition: 300ms;
    cursor: pointer;
    /* color:#ff0000; */
    
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.7);
    z-index: 999999;
    cursor: pointer;
    display:none;
}
.modal #imgModal{
    width: 75%;
    margin:50px auto;
    height: 75%;
    display: block;
    object-fit: cover;
    cursor: auto;
}
.modal #caption{
    text-align: center;
    color:#ffffff;
    font-size: 25px;
    font-weight: normal;
    cursor: auto;
    text-transform: uppercase;
}
.modal #closeModal{
    position: absolute;
    right: 30px;
    top: 10px;
    color:#ffffff;
    font-size: 30px;
    transition: 200ms;
}

/** Footer **/
footer{
    width: 100%;
    height: 60px;
    margin-top: 100px;
    background: #000;
}
footer p{
    text-align: center;
    line-height: 60px;
    color:#ffffff;
}

footer p:hover{
    color:#f8b30e;
    transition: 2000ms;
}





/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Responsive 1  */
/*  */
/*  */
/*  */




@media only screen and (max-width:804px) {
    
    /** Navegation Menu **/
    .btn-menu{
        position: absolute;
        top: 12px;
        right: 30px;
        display: block;
        color:#fff;
        font-size: 30px;
        cursor: pointer;
    }
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #000;
        border-top: 3px solid #fff;
    }
    .menu .list-container .lists{
        display: block;
        width: 90%;
        margin:50px auto;
    }
    .menu .list-container .lists li{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #fff;
    }
    .menu .list-container .lists li a{
        margin:5px 0px;
    }

    /** Img Header **/
    .img-header .welcome{
        width: 80%;
        margin:auto;
    }
    .img-header .welcome h4{
        font-size: 30px;
        line-height: 45px;
    }
    .img-header .welcome > h2 a{
        font-size: 40px;
    }

    /** About Us **/
    .about-us .info h3{font-size: 35px;}
    .about-us .info p{font-size: 18px;}

    /** Galeria **/
    .gallery-content{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, 350px);
        grid-gap: 20px;
    }

    /** Modal **/
    .modal #imgModal{
        width: 95%;
        height: 55%;
    }
    

       /* ---------------------------------------------------------- */
/* Efecto de la imagen */
.img-card img:hover{
    /* border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); */

    -webkit-transform:scale(1);transform:scale(0.9);
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
    }

/* Efecto de la imagen */


}

/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */







/* Responsive 2 */



@media only screen and (max-width:560px) {
    
    /** Free Content **/
    .about-us .free-content .icons{
        display: block; 
        margin:0px;
        padding:10px 0px;
    }
    .about-us .free-content .icons > div{margin:50px 30px;}
    .about-us .free-content .icons > div > .span-icon{font-size: 55px;}

 


.gallery-content .img-card > img{

    width: 50%;
    width: 70%;
    /* color:#ff0000; */
    position: center;
    margin-left: 60px;
    
}
   /* ---------------------------------------------------------- */
/* Efecto de la imagen */

.img-card img:hover{
    /* border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); */

    -webkit-transform:scale(1);transform:scale(0.9);
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
    }

/* Efecto de la imagen */
/* ---------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------ */



.gallery-content{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4, 350px);
    grid-gap: 20px;
}


}


